!!! 5
%html
  %head
    %title Luke Robertson's Blog
    %link{:href => "css/bootstrap.css", :rel => "stylesheet"}/
    %link{:href => "css/main.css", :rel => "stylesheet"}/
  %body
    %h1 Luke Robertson's Blog
    #container
      %nav
        %ul
          %li
            %a{href:"/list"}Archive
            %a{href:"/admin"}Admin
            %a{href:"/"}Home


      %h2 container starts here
      = yield
