!!! 5
%html
  %head
    %title Luke Robertson's Blog
  %body
    %h1 Luke Robertson's Blog
    #container
      %nav
        %ul
          %li
            %a{href:"/list"}Archive
            %a{href:"/admin"}Admin
            %a{href:"/"}Home


      %h2 container starts here
      = yield
