%h2 Please enter your password to proceed to admin options
%form{action:"/verification", method:"post"}
  %p Username:
  %input{type:"text", name:"username" }
  %p Password:
  %input{type:"text", name:"password" }
  %input{type:"submit"}